In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib as mpl
import numpy as np
import matplotlib.dates as mdates

In [2]:
Location_1 = pd.read_csv(r'sfcFluxes_AU-DaP_2010-2013.csv',parse_dates=[0],index_col=0,sep=';')

In [3]:
Location_1

                     G         H         LE
TIMESTAMP
01.01.2010 00:00 -17.0  -8.34054  15.412100
01.01.2010 00:30 -17.0  -8.31351  15.390100
01.01.2010 01:00 -17.0  -8.20652  15.342500
01.01.2010 01:30 -14.0   3.00000   7.000000
01.01.2010 02:00 -14.0  -2.00000   7.000000
...                ...       ...        ...
31.12.2013 21:30   NaN  -9.06667   0.866667
31.12.2013 22:00   NaN  -9.13333   0.866667
31.12.2013 22:30   NaN -12.33330   0.533333
31.12.2013 23:00   NaN -17.26670   0.600000
31.12.2013 23:30   NaN -20.73330  -0.333333

[70128 rows x 3 columns]

In [4]:
Location_2 = pd.read_csv(r'sfcFluxes_DE-Tha_2010-2013.csv',parse_dates=[0],index_col=0,sep=';')

In [5]:
Location_2

                        G        H       LE
TIMESTAMP
01.01.2010 00:00 -5.67742  10.4406  1.59889
01.01.2010 00:30 -5.65485 -21.2043  5.42113
01.01.2010 01:00 -5.68737 -20.1123  5.63966
01.01.2010 01:30 -5.78477 -20.1123  5.63966
01.01.2010 02:00 -5.85633 -19.5710  5.49844
...                   ...      ...      ...
31.12.2013 21:30 -8.17500 -31.4600 -1.23000
31.12.2013 22:00 -8.43500 -55.4300  0.56000
31.12.2013 22:30 -8.48000 -48.3400 -1.26000
31.12.2013 23:00 -8.38500 -32.0000 -1.36000
31.12.2013 23:30 -7.91500 -42.3800 -1.93000

[70128 rows x 3 columns]

In [6]:
Location_3 = pd.read_csv(r'sfcFluxes_GF-Guy_2010-2013.csv',parse_dates=[0],index_col=0,sep=';')

In [7]:
Location_3

                        H        LE     Rn
TIMESTAMP
01.01.2010 00:00 -31.1061   25.5394 -31.86
01.01.2010 00:30 -31.1305   25.5213 -49.26
01.01.2010 01:00 -15.0500    3.6400 -41.95
01.01.2010 01:30 -18.9500    9.8700 -26.51
01.01.2010 02:00  -7.9500    2.6200 -41.41
...                   ...       ...    ...
31.12.2013 21:30 -12.5800   17.3100 -19.68
31.12.2013 22:00 -30.3800   22.8500 -15.14
31.12.2013 22:30 -31.1500  114.0900 -27.64
31.12.2013 23:00 -12.7500   42.0800 -50.14
31.12.2013 23:30 -23.1084   21.0479 -50.01

[70128 rows x 3 columns]

In [8]:
Location_4 = pd.read_csv(r'sfcFluxes_IT-Lav_2010-2013.csv',parse_dates=[0],index_col=0,sep=';')

In [9]:
Location_4

                       G          H        LE
TIMESTAMP
01.01.2010 00:00 -3.7331 -38.069600  10.33100
01.01.2010 00:30 -3.7282 -27.068200  15.45460
01.01.2010 01:00 -3.7259 -19.897900  11.49070
01.01.2010 01:30 -3.7267  -8.528990   1.28960
01.01.2010 02:00 -3.7233 -39.075500  21.36650
...                  ...        ...       ...
31.12.2013 21:30 -7.1753  -0.921203   5.67308
31.12.2013 22:00 -7.2212   0.981605  -7.29325
31.12.2013 22:30 -7.1294  15.219100  24.34120
31.12.2013 23:00 -7.1183 -44.920700  23.72820
31.12.2013 23:30 -7.1976  -5.336460  23.72820

[70128 rows x 3 columns]

In [10]:
#Calculation of Missing features of Energy Balance Equation

In [11]:
def missing_features(data):
    '''
    Energy balance equation:
    Rn = LE + G + H
    where, Rn = net radiation
            LE = Latent heat flux
            G = Ground heat flux
            H = sensible heat flux
    '''
    if 'LE' in data and 'G' in data and 'H' in data and 'Rn' not in data:
        data['Rn'] = data['LE'] + data ['G'] + data['H']
    elif 'Rn' in data and 'LE' in data and 'G' in data and 'H' not in data:
        data['H'] = data['Rn'] - data ['G'] - data['H']
    elif 'Rn' in data and 'LE' in data and 'H' in data and 'G' not in data:
        data['G'] = data['Rn'] - data ['LE'] - data['H']
    elif 'Rn' in data and 'G' in data and 'H' in data and 'LE' not in data:
        data['LE'] = data['Rn'] - data ['G'] - data['H']
    else:
        raise ValueError("Insufficient data to compute the missing variable(s)")
    return data

In [12]:
Location_1_netRadiation = missing_features(Location_1)
Location_2_netRadiation = missing_features(Location_2)
Location_3_netRadiation = missing_features(Location_3)
Location_4_netRadiation = missing_features(Location_4)

In [15]:
Location_3_netRadiation

                        H        LE     Rn         G
TIMESTAMP
01.01.2010 00:00 -31.1061   25.5394 -31.86  -26.2933
01.01.2010 00:30 -31.1305   25.5213 -49.26  -43.6508
01.01.2010 01:00 -15.0500    3.6400 -41.95  -30.5400
01.01.2010 01:30 -18.9500    9.8700 -26.51  -17.4300
01.01.2010 02:00  -7.9500    2.6200 -41.41  -36.0800
...                   ...       ...    ...       ...
31.12.2013 21:30 -12.5800   17.3100 -19.68  -24.4100
31.12.2013 22:00 -30.3800   22.8500 -15.14   -7.6100
31.12.2013 22:30 -31.1500  114.0900 -27.64 -110.5800
31.12.2013 23:00 -12.7500   42.0800 -50.14  -79.4700
31.12.2013 23:30 -23.1084   21.0479 -50.01  -47.9495

[70128 rows x 4 columns]

#Exercise 1.1

In [13]:
#Calculate the mean diurnal cycle of H, LE and G for each location if given.